Automation/PDS_CORE/Web References/WebLogic/SmiBridgeService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:ns0="http://ws.tms.trans.ge.com/" targetNamespace="http://ws.tms.trans.ge.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
  <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
  <xsd:complexType name="smiBridge">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="aFactory" type="xsd:string" />
      <xsd:element minOccurs="0" name="aDomain" type="xsd:string" />
      <xsd:element minOccurs="0" name="aMethod" type="xsd:string" />
      <xsd:element minOccurs="0" name="aLanguage" type="xsd:string" />
      <xsd:element minOccurs="0" name="aUser" type="xsd:string" />
      <xsd:element minOccurs="0" name="aLogicalPosition" type="xsd:string" />
      <xsd:element minOccurs="0" name="aClientId" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="anArguements" nillable="true" type="ns1:stringArray" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SmiBridgeException">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="smiBridgeResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="result" nillable="true" type="ns1:stringArray" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="smiBridge" type="ns0:smiBridge" />
  <xsd:element name="SmiBridgeException" type="ns0:SmiBridgeException" />
  <xsd:element name="smiBridgeResponse" type="ns0:smiBridgeResponse" />
</xsd:schema>